* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0 auto;
}

.background-image::before {
  content: "";
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://s3.amazonaws.com/thumbnails.thecrimson.com/photos/2024/03/06/205137_1369293.jpg.1500x843_q95_crop-smart_upscale.jpg");
  opacity: 0.3;
  z-index: -1;
}

/* ------------ Header ------------ */
header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #9ecb3d;
  color: white;
  padding: 20px 0;
}

header div img {
  max-width: 150px;
}

header div h1 {
  font-size: 1.5rem;
  display: flex;
  align-items: baseline;
  align-self: center;
  justify-content: center;
  text-align: center;
}

/* ------------ Main ------------ */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main div {
  color: #02b0c8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

main form input {
  padding: 3px 10px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

main form button {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #80c243;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

main form button:hover {
  background-color: #379647;
}

#cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem 2rem;
  padding: 5px 10px;
  border-radius: 10px;
}

.card {
  background-color: #f4f4f4;
  border-radius: 10px;
}

.image {
  padding: 0;
}

.text {
  padding: 10px;
  text-align: center;
}

.error-msg,
.error-img {
  padding: 0;
}

.error-img img {
  width: 250px;
}

.error-text {
  font-size: 1rem;
  color: #02b0c8;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 5px;
  margin-top: 15px;
}

#pagination {
  display: flex;
  flex-direction: row;
}

#pagination ul {
  display: flex;
  gap: 0.3rem;
  margin: 15px 0;
}

#pagination ul li {
  list-style: none;
  padding: 2px 4px;
  width: 20px;
  background-color: #80c243;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.arrow\:text {
  display: block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 5px;
}

.hide {
  display: none;
}

/* ------------ Footer ------------ */
footer {
  padding: 10px 0;
  text-align: center;
  background-color: #9ecb3d;
  color: white;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}

/* --------------  MEDIA QUERIES ----------------  */
@media (max-width: 1330px) {
  #cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 990px) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 675px) {
  #cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
